<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/angJS-4.css">
</head>
<body>

    <h2>angular js app</h2>

    <div ng-app="mainApp" ng-controller="CalcController">
        <p>inout a number: <input type="number" ng-model="number"></p>
        <button ng-click="square()">X<sup>2</sup></button>
        <p>result: {{result}}</p>
    </div>












<script src="js/jquery-1.11.3.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angJS-4.js"></script>
</body>
</html>