<h3>User</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Edit</th>
        <th>Name</th>
        <th>Country</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td>
            <button class="btn btn-primary" ng-click="editUser(user.id)">
                <span class="glyphicon glyphicon-pencil"></span>
                edit
            </button>
        </td>
        <td>{{user.first}}</td>
        <td>{{user.last}}</td>
    </tr>
    </tbody>

</table>